# 5.숫자 계산하기

In [ ]:
!python --version

In [ ]:
print('Hello,world!')

In [ ]:
a=10


if a==10:
    print('10')
    print('입니다')

숫자 
1. 정수 int 
2. 실수 float
3. 복소수 complex

## 정수 계산하기

In [ ]:
#정수 계산 
#더하기
1+1

In [ ]:
#빼기
1-2

In [ ]:
#곱하기
1*2

In [ ]:
#나누기
5/2

In [ ]:
#나눗셈 후 소수점 이하를 버리는 // 연산자
5//2

In [ ]:
#실수에 //연산자 사용 -> 결과는 실수가 나오며 소수점 이하는 버림
5.5//2

In [ ]:
#나눗셈 후 나머지를 구하는 % 연산자 
5%2 #몫 2 나머지 1

In [ ]:
#거듭제곱을 구하는 **연산자
2**10 #2의 10승

In [ ]:
#값을 정수로 만들기 integer 정수-> 값을 정수로 만들어줌 소수점 이하는 버림
a=int(3.3)
b=int(5/2)
c=int('10')
print(a,b,c)

In [ ]:
#객채의 자료형 알아내기 객체는 클래스로 표현
type(10)

In [ ]:
#몫과 나머지를 함께 구하기
divmod(5,2) #튜플 형식으로 나옴 (몫,나머지)

In [ ]:
quotient,remainder=divmod(5,2) #튜플은 변수 여러 개에 저장 가능
print(quotient,remainder)

## 실수 계산하기

In [ ]:
3.5+2.1

In [ ]:
4.3-2.7

In [ ]:
1.5*3.1

In [ ]:
5.5/3.1

In [ ]:
#실수 + 정수 =실수
4.2+5

In [ ]:
#값을 실수로 만들기
float(5)

In [ ]:
float(1+2)

In [ ]:
float('5.3')

In [ ]:
type(3.5)

In [ ]:
#값을 복소수로 만들기
complex(1.2,1.3)

## 괄호 사용하기

In [ ]:
(35+1)*2

## 연습문제

In [ ]:
print(int(0.2467*12+4.159))

# 6.변수와 입력 사용하기

In [ ]:
# 변수 만들기
x=10 #x는 변수 이름 10은 변수 값 할당

In [ ]:
x

In [ ]:
y='Hello, world!'
y

In [ ]:
#변수의 자료형 알아내기
type(x)

In [ ]:
type(y) #str :문자열 string

In [ ]:
#변수 여러 개를 한 번에 만들기 
x,y,z =10,20,30

In [ ]:
x

In [ ]:
y

In [ ]:
z

In [ ]:
x=y=z=10

In [ ]:
x,y,z

In [ ]:
#변수 삭제 
del x

In [ ]:
x

In [ ]:
#빈 변수 만들기
x=None
print(x)

## 변수로 계산하기

In [ ]:
a=10
b=20
c=a+b

In [ ]:
c

In [ ]:
a=10
a+20

In [ ]:
a

In [ ]:
#연산 후 할당
a=10
a+=20 # a= a+20
a

In [ ]:
#부호 붙이기
x=-10
-x

## 입력 값을 변수에 저장하기

In [ ]:
#input 함수 사용 - 사용자가 입력한 값을 가져오는 함수
input()

In [ ]:
#input 함수의 결과를 변수에 할당하기
x=input()

In [ ]:
x

In [ ]:
x=input('문자열을 입력하세요:')

In [ ]:
x

In [ ]:
#두 숫자의 합 구하기
a=input('첫 번째 숫자를 입력하세요:')
b=input('두 번째 숫자를 입력하세요:')

print(a+b)

In [ ]:
#입력 값을 정수로 변환하기
a=int(input('첫 번째 숫자를 입력하세요:'))
b=int(input('두 번째 숫자를 입력하세요:'))

print(a+b)

## 입력 값을 변수 두개에 저장하기

In [ ]:
a,b=input('문자열 두 개를 입력하세요:').split()#입력받은 값을 공백을 기준으로 분리

print(a)
print(b)

In [ ]:
#두 숫자의 합 구하기 
a,b=input('숫자 두 개를 입력하세요: ').split()
print(a+b)

In [ ]:
#입력 값을 정수로 변환하기
a,b=input('숫자 두 개를 입력하세요:').split()
a=int(a) #변수를 정수로 변환한 뒤 다시 저장
b=int(b)
print(a+b)

In [ ]:
#입력 값을 정수로 변환하기
a,b=input('숫자 두 개를 입력하세요:').split()
print(int(a)+int(b))

In [ ]:
#map을 사용하여 정수로 변환하기
a,b=map(int,input('숫자 두 개를 입력하세요').split())#int 로 변환 실수는 float
print(a+b)

In [ ]:
#입력받은 값을 콤마를 기준으로 분리하기
a,b=map(int,input('숫자 두 개를 입력하세요:').split(','))#입력받은 값을 콤마를 기준으로 분리
print(a+b)


## 연습문제

In [ ]:
a,b,c=map(int,input().split())

In [ ]:
print(a+b+c)

# 7.출력 방법 알아보기

In [ ]:
#값을 여러 개 출력하기
print(1,2,3)

In [ ]:
print('Hello','Python')

In [ ]:
#sep로 값 사이에 문자 넣기
print(1,2,3,sep=', ')

In [ ]:
#sep(separator)에 빈 문자열을 지정
print('Hello','Python',sep='')

In [ ]:
print(1920,1080,sep='x')

In [ ]:
#줄바꿈(개행)
print(1,2,3,sep='\n')

In [ ]:
print('1\n2\n3')

- 제어 문자  
제어 문자는 화면에 출력되지는 않지만 출력 결과를 제어한다고 해서 제어 문자라 부른다.  
>\n:다음 줄로 이동하며 개행  
\t:탭 문자, 키보드의 tab 키와 같으며 여러 칸을 띄움  
\\ \문자 자체를 출력할 때는 \을 두 번 써야 한다.

In [ ]:
print(1)
print(1)
print(1)

In [ ]:
#end 사용하기
print(1,end='')#end에 빈 문자열을 지정하면 다음 번 출력이 바로 뒤에 오게 됨 defalt =end='\n'
print(2,end='')
print(3)

## 연습문제

In [ ]:
year=2000
month=10
day=27
hour=11
minute=43
second=59

print(year,month,day,sep='/',end=' ')
print(hour,minute,second,sep=':')

# 8.불과 비교,논리 연산자 알아보기

In [ ]:
#불과 비교 연산자 이용하기