# 5.숫자 계산하기

In [1]:
!python --version

Python 3.7.6

In [2]:
print('Hello,world!')

Hello,world!

In [3]:
a=10


if a==10:
    print('10')
    print('입니다')

10
입니다

숫자 
1. 정수 int 
2. 실수 float
3. 복소수 complex

## 정수 계산하기

In [4]:
#정수 계산 
#더하기
1+1

2

In [5]:
#빼기
1-2

-1

In [6]:
#곱하기
1*2

2

In [7]:
#나누기
5/2

2.5

In [8]:
#나눗셈 후 소수점 이하를 버리는 // 연산자
5//2

2

In [9]:
#실수에 //연산자 사용 -> 결과는 실수가 나오며 소수점 이하는 버림
5.5//2

2.0

In [10]:
#나눗셈 후 나머지를 구하는 % 연산자 
5%2 #몫 2 나머지 1

1

In [11]:
#거듭제곱을 구하는 **연산자
2**10 #2의 10승

1024

In [12]:
#값을 정수로 만들기 integer 정수-> 값을 정수로 만들어줌 소수점 이하는 버림
a=int(3.3)
b=int(5/2)
c=int('10')
print(a,b,c)

3 2 10

In [13]:
#객채의 자료형 알아내기 객체는 클래스로 표현
type(10)

int

In [14]:
#몫과 나머지를 함께 구하기
divmod(5,2) #튜플 형식으로 나옴 (몫,나머지)

(2, 1)

In [15]:
quotient,remainder=divmod(5,2) #튜플은 변수 여러 개에 저장 가능
print(quotient,remainder)

2 1

## 실수 계산하기

In [16]:
3.5+2.1

5.6

In [17]:
4.3-2.7

1.5999999999999996

In [18]:
1.5*3.1

4.65

In [19]:
5.5/3.1

1.7741935483870968

In [20]:
#실수 + 정수 =실수
4.2+5

9.2

In [21]:
#값을 실수로 만들기
float(5)

5.0

In [22]:
float(1+2)

3.0

In [23]:
float('5.3')

5.3

In [24]:
type(3.5)

float

In [25]:
#값을 복소수로 만들기
complex(1.2,1.3)

(1.2+1.3j)

## 괄호 사용하기

In [26]:
(35+1)*2

72

## 연습문제

In [27]:
print(int(0.2467*12+4.159))

7

# 6.변수와 입력 사용하기

In [28]:
# 변수 만들기
x=10 #x는 변수 이름 10은 변수 값 할당

In [29]:
x

10

In [30]:
y='Hello, world!'
y

'Hello, world!'

In [31]:
#변수의 자료형 알아내기
type(x)

int

In [32]:
type(y) #str :문자열 string

str

In [33]:
#변수 여러 개를 한 번에 만들기 
x,y,z =10,20,30

In [34]:
x

10

In [35]:
y

20

In [36]:
z

30

In [37]:
x=y=z=10

In [38]:
x,y,z

(10, 10, 10)

In [39]:
#변수 삭제 
del x

In [40]:
x

NameError: name 'x' is not defined

In [41]:
#빈 변수 만들기
x=None
print(x)

None

## 변수로 계산하기

In [42]:
a=10
b=20
c=a+b

In [43]:
c

30

In [44]:
a=10
a+20

30

In [45]:
a

10

In [46]:
#연산 후 할당
a=10
a+=20 # a= a+20
a

30

In [47]:
#부호 붙이기
x=-10
-x

10

## 입력 값을 변수에 저장하기

In [50]:
#input 함수 사용 - 사용자가 입력한 값을 가져오는 함수
input()

x

'x'

In [51]:
#input 함수의 결과를 변수에 할당하기
x=input()

2

In [52]:
x

'2'

In [53]:
x=input('문자열을 입력하세요:')

문자열을 입력하세요:메롱

In [54]:
x

'메롱'

In [55]:
#두 숫자의 합 구하기
a=input('첫 번째 숫자를 입력하세요:')
b=input('두 번째 숫자를 입력하세요:')

print(a+b)

첫 번째 숫자를 입력하세요:3
두 번째 숫자를 입력하세요:2
32

In [56]:
#입력 값을 정수로 변환하기
a=int(input('첫 번째 숫자를 입력하세요:'))
b=int(input('두 번째 숫자를 입력하세요:'))

print(a+b)

첫 번째 숫자를 입력하세요:3
두 번째 숫자를 입력하세요:2
5

## 입력 값을 변수 두개에 저장하기

In [57]:
a,b=input('문자열 두 개를 입력하세요:').split()#입력받은 값을 공백을 기준으로 분리

print(a)
print(b)

문자열 두 개를 입력하세요:1 3
1
3

In [58]:
#두 숫자의 합 구하기 
a,b=input('숫자 두 개를 입력하세요: ').split()
print(a+b)

숫자 두 개를 입력하세요: 1 5
15

In [59]:
#입력 값을 정수로 변환하기
a,b=input('숫자 두 개를 입력하세요:').split()
a=int(a) #변수를 정수로 변환한 뒤 다시 저장
b=int(b)
print(a+b)

숫자 두 개를 입력하세요:1 5
6

In [60]:
#입력 값을 정수로 변환하기
a,b=input('숫자 두 개를 입력하세요:').split()
print(int(a)+int(b))

숫자 두 개를 입력하세요:2 3
5

In [61]:
#map을 사용하여 정수로 변환하기
a,b=map(int,input('숫자 두 개를 입력하세요').split())#int 로 변환 실수는 float
print(a+b)

숫자 두 개를 입력하세요1 3
4

In [62]:
#입력받은 값을 콤마를 기준으로 분리하기
a,b=map(int,input('숫자 두 개를 입력하세요:').split(','))#입력받은 값을 콤마를 기준으로 분리
print(a+b)

숫자 두 개를 입력하세요:3,5
8


## 연습문제

In [63]:
a,b,c=map(int,input().split())

1 2 3

In [64]:
print(a+b+c)

6

# 7.출력 방법 알아보기

In [65]:
#값을 여러 개 출력하기
print(1,2,3)

1 2 3

In [66]:
print('Hello','Python')

Hello Python

In [67]:
#sep로 값 사이에 문자 넣기
print(1,2,3,sep=', ')

1, 2, 3

In [68]:
#sep(separator)에 빈 문자열을 지정
print('Hello','Python',sep='')

HelloPython

In [69]:
print(1920,1080,sep='x')

1920x1080

In [70]:
#줄바꿈(개행)
print(1,2,3,sep='\n')

1
2
3

In [71]:
print('1\n2\n3')

1
2
3

- 제어 문자  
제어 문자는 화면에 출력되지는 않지만 출력 결과를 제어한다고 해서 제어 문자라 부른다.  
>\n:다음 줄로 이동하며 개행  
\t:탭 문자, 키보드의 tab 키와 같으며 여러 칸을 띄움  
\\ \문자 자체를 출력할 때는 \을 두 번 써야 한다.

In [72]:
print(1)
print(1)
print(1)

1
1
1

In [73]:
#end 사용하기
print(1,end='')#end에 빈 문자열을 지정하면 다음 번 출력이 바로 뒤에 오게 됨 defalt =end='\n'
print(2,end='')
print(3)

123

## 연습문제

In [74]:
year=2000
month=10
day=27
hour=11
minute=43
second=59

print(year,month,day,sep='/',end=' ')
print(hour,minute,second,sep=':')

2000/10/27 11:43:59

---

# 8.불과 비교,논리 연산자 알아보기

## 8.1 불과 비교 연산자 사용하기
불은 True,False로 표현하며 1,3.6,'python'처럼 값의 일종

In [76]:
True

True

In [77]:
False

False

### 8.1.1 비교 연산자의 판단 결과
파이썬에서는 비교 연산자와 논리 연산자의 판단 결과로 True,False를 사용  
즉, 비교 결과가 맞으면 True, 아니면 False

In [78]:
3>1 #3보다1이 논리적으로 더 큼

True

### 8.1.2 숫자가 같은지 다른지 비교하기
이제 두 숫자가 같은지 또는 다른지 비교해보겠다. 두 숫자가 같은지 비교할때는 `==(equal)`, 다른지 비교할 때는 `!=(not equal)`을 사용

In [79]:
10 == 10 #10과 10이 같은지 비교

True

In [80]:
10 !=5 #10과 5가 다른지 비교

True

10과 10은 같으므로 True, 10과 5는 다르므로 True가 나온다. 파이썬에서 두 값이 같은지 비교할 때는 `=` 이 아닌 `==`을 사용한다. 왜냐하면 `=`은 할당 연산자로 이미 사용하고 있기 때문

### 8.1.3 문자열이 같은지 다른지 비교하기
숫자뿐만 아니라 문자열도 ==와 != 연산자로 비교할 수 있다. 이때 문자열은 비교할 때 대소문자를 구분한다. 다음과 같이 단어가 같아도 대소문자가 다르면 다른 문자열로 판단

In [81]:
'Python' == 'Python'

True

In [82]:
'Python' == 'python'

False

In [84]:
'Python' != 'python'

True

### 8.1.4 부등호 사용하기
부등호는 수학 시간에 배운 내용과 같다. 큰지,작은지,크거나 같은지, 작거나 같은지를 판단

In [85]:
10>20

False

In [86]:
10<20

True

In [87]:
10>=10

True

In [88]:
10<=10

True

여기서 비교 기준은 첫 번째 값. 따라서 첫 번째 값보다 큰지, 작은지 처럼 읽는다.
특히 부등호를 말로 설명할 때 >은 초과 < 은 미만 >= 이상 <= 이하라고도 한다.
`>,<`은 비교할 값과 같으면 무조건 거짓 하지만 >=,<=은 비교할 값과 같으면 참  
따라서 이상, 이하는 비교할 값도 포함된다는 점이 중요

### 8.1.5 객체가 같은지 다른지 비교하기
이번에는 `is` 와 `is not` 이다. 같다는 `==`,다르다는 `!==`이 이미있는데 왜 `is`,`is not`을 만들었을까? `is`,`is not`도 같다, 다르다지만 `==`,`!=`는 값 자체를 비교하고, `is` `is not`은 객체(object)를 비교한다

In [89]:
1 ==1.0

True

In [90]:
1 is 1.0

False

In [91]:
1 is not 1.0

True

1과 1.0은 정수와 실수라는 차이점이 있지만 값은 같다. 따라서 `==` 로 비교해보면 `True` 가 나온다. 하지만 1과 1.0을 is로 비교해보면 False가 나온다. 왜냐하면 1은 정수 객체 1.0은 실수 객체이므로 두 객체는 서로 다르기 때문이다.

In [92]:
id(1) #객체의 고유한 값(메모리 주소)를 구한다

94701345751808

In [93]:
id(1.0)

140314368578896

> 값 비교에 is 를 쓰지 않기  
값을 비교할 때는 is를 사용하면 안 된다. 다음과 같이 변수 a에 -5를 할당한 뒤 a is -5 를 실행하면 True가 나오지만 다시 -6을 할당한 뒤 a is -6을 실행하면 False가 나온다

In [94]:
a=-5

In [95]:
a is -5

True

In [96]:
a=-6

In [97]:
a is -6

False

>왜냐하면 변수 a가 있는 상태에서 다른 값을 할당하면 메모리 주소가 달라질 수 있기 때문이다. 따라서 다른 객체가 되므로 값이 같더라도 is 로 비교하면 False 가 나온다. 값(숫자)를 비교할 때는 is 가 아닌 비교 연산자를 사용해야 한다.

---

## 8.2 논리 연산자 사용하기

- a and b

In [98]:
True and True

True

In [99]:
True and False

False

In [100]:
False and True

False

In [101]:
False and False

False

and는 두 값이 모두 True 라야 True 이다. 하나라도 False이면 False가 나온다

- a or b

In [102]:
True or True

True

In [103]:
True or False

True

In [104]:
False or True

True

In [105]:
False or False

False

or는 두 값 중 하나라도 True이면 True 이다. 두 값이 모두 False 라야 False 가 된다

- not x

In [106]:
not True

False

In [107]:
not False

True

`not`은 논릿값을 뒤집는다. 그래서 `not True`는 `False` 가 되고, `not False` 는 `True` 가 된다

여기서 `and`,`or`,`not` 논리 연산자가 식 하나에 들어있으면 `not`,`and`,`or` 순으로 판단한다

In [108]:
not True and False or not False

True

In [109]:
((not True) and False) or (not False)

True

### 8.2.1 논리 연산자와 비교 연산자를 함께 사용하기

In [110]:
10 == 10 and 10!=5 #True and True

True

In [111]:
10 > 5 or 10 < 3 #True or False

True

In [112]:
not 10 > 5 #not True

False

In [113]:
not 1 is 1.0 #not False

True

비교 연산자로 비교한 결과를 논리 연산자로 다시 판단. 이때는 비교 연산자(is,is not,==,!=,<,>,<=,>=)를 먼저 판단하고 논리 연산자(not,and,or)를 판단하게 된다.

>**정수,실수,문자열을 불로 만들기**
>
>정수,실수,문자열을 불로 만들 때는 bool을 사용하면 된다. 이때 정수 1은 True, 0은 False 이다. 만약 문자열의 내용이 'False'라도 불로 만들면 True이다. 문자열의 내용 자체는 판단하지 않으며 값이 있으면 True다

In [114]:
bool(1)

True

In [121]:
a=bool(1.5)

In [124]:
type(a)

bool

In [120]:
bool(0)

False

In [117]:
bool('False')

True

>즉 , 정수 0 실수 0.0 이외의 모든 숫자는 True 이다. 그리고 빈 문자열 '',""를 제외한 모든 문자열은 True 이다
>
>**단락 평가**  
>논리 연산에서 중요한 부분이 단락 평가(short-circuit evaluation)이다. 단락 평가는 첫 번째 값만으로 결과가 확실할 때 두 번째 값은 확인(평가)하지 않는 방법을 말한다. 즉,and 연산자는 두 값이 모두 참이라야 참이므로 첫 번째 값이 거짓이면 두 번째 값은 확인하지 않고 바로 거짓으로 결정한다

In [125]:
#첫 번째 값이 거짓이므로 두 번째 값은 확인하지 않고 거짓으로 결정
print(False and True) #False
print(False and False)#False

False
False

> `or`연산자는 두 값 중 하나만 참이라도 참이므로 첫 번째 값이 참이면 두 번째 값은 확인하지 않고 바로 참으로 결정

In [126]:
#첫 번째 값이 참이므로 두 번째 값은 확인하지 않고 참으로 결정
print(True or True) #True
print(True or False)#True

True
True

>특히 파이썬에서 논리 연산자는 이 단락 평가에 따라 반환하는 값이 결정된다. True,False를 논리 연산자로 확인하면 True,False 가 나왔는데, True and 'python'의 결과는 무엇이 나올까?

In [127]:
True and 'python'

'python'

In [128]:
bool('python')

True

>문자열 'python'도 불로 따지면 True라서 True and True 가 되어 True 가 나올것 같지만 'python'이 나왔다. 왜냐하면 파이썬에서 논리 연산자는 마지막으로 단락 평가를 실시한 값을 그대로 반환하기 때문이다. 따라서 논리 연산자는 무조건 불을 반환하지 않는다  
다음과 같이 마지막으로 단락 평가를 실시한 값이 불이면 불을 반환하게 된다

In [129]:
'python'and True

True

In [130]:
'python' and False

False

>여기서는 문자열 'python'을 True로 쳐서 and 연산자가 두 번째 값까지 확인하므로 두번째 값이 반환된다. 만약 다음과 같이 and 연산자 앞에 False나 False로 치는 값이 와서 첫 번째 값 만으로 결과가 결정나는 경우에는 첫 번째 값이 반환된다.

In [131]:
False and 'python'

False

In [132]:
0 and 'python' #0은 False 이므로 and 연산자는 두 번째 값을 평가하지 않음

0

>or 연산자도 마찬가지로 마지막으로 단락 평가를 실시한 값이 반환된다. 다음은 or 연산자에서 첫 번째 값만으로 결과가 결정되므로 첫 번째 값이 반환된다.

In [133]:
True or 'python'

True

In [134]:
'python' or True

'python'

>만약 두 번째 값까지 판단해야 한다면 두 번째 값이 반환된다

In [135]:
False or 'python'

'python'

In [136]:
0 or False

False

In [138]:
korean=92
english=47
mathmatics=86
science=81
print
(korean>=50 and english>=50 and mathmatics>=50 and science>=50)

False