In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [66]:
data = pd.read_csv('train_ai.csv')

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X0      1500 non-null   float64
 1   X1      1500 non-null   int64
 2   X2      1500 non-null   float64
 3   X3      1500 non-null   float64
 4   X4      1500 non-null   float64
 5   X5      1500 non-null   float64
 6   target  1500 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 82.2 KB

In [68]:
y = data.target

In [69]:
y

0       0.6441
1       0.6236
2       0.7069
3       0.7764
4       0.6493
         ...
1495    0.6014
1496    0.4483
1497    0.6757
1498    0.6114
1499    0.8338
Name: target, Length: 1500, dtype: float64

In [70]:
X = data.drop(['target'], axis=1)

In [120]:
X

        X0  X1   X2     X3   X4   X5
0     0.60  -9  0.7    0.0  1.0 -2.0
1     0.75  -6  1.0  100.0  2.0 -2.0
2     0.60 -10  0.7   10.0  3.0 -2.0
3     0.50  -8  0.7   10.0  1.5 -1.5
4     0.75  -8  0.5    0.0  1.5 -0.5
...    ...  ..  ...    ...  ...  ...
1495  0.75  -9  0.7   40.0  2.5 -1.0
1496  1.00  -7  0.9  100.0  3.0 -1.5
1497  0.75 -10  0.5    0.0  3.0 -1.5
1498  0.75  -5  0.8   40.0  1.0 -1.0
1499  0.50  -5  0.9  100.0  2.0 -1.5

[1500 rows x 6 columns]

In [121]:
y

0       0.6441
1       0.6236
2       0.7069
3       0.7764
4       0.6493
         ...
1495    0.6014
1496    0.4483
1497    0.6757
1498    0.6114
1499    0.8338
Name: target, Length: 1500, dtype: float64

In [12]:
melb_predictors

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB

In [9]:
#숫자형 값만 사용하기 위해 select_dtypes() 사용

In [13]:
X = melb_predictors.select_dtypes(exclude=['object'])

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rooms          13580 non-null  int64
 1   Distance       13580 non-null  float64
 2   Postcode       13580 non-null  float64
 3   Bedroom2       13580 non-null  float64
 4   Bathroom       13580 non-null  float64
 5   Car            13518 non-null  float64
 6   Landsize       13580 non-null  float64
 7   BuildingArea   7130 non-null   float64
 8   YearBuilt      8205 non-null   float64
 9   Lattitude      13580 non-null  float64
 10  Longtitude     13580 non-null  float64
 11  Propertycount  13580 non-null  float64
dtypes: float64(11), int64(1)
memory usage: 1.2 MB

In [31]:
y

0       0.6441
1       0.6236
2       0.7069
3       0.7764
4       0.6493
         ...
1495    0.6014
1496    0.4483
1497    0.6757
1498    0.6114
1499    0.8338
Name: target, Length: 1500, dtype: float64

In [32]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

In [33]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [34]:
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=10,random_state=0)
    model.fit(X_train,y_train)
    preds=model.predict(X_valid)
    return mean_absolute_error(y_valid,preds)

In [35]:
#isnull().any() 로 결측값 칼럼 추출하여 제거 한 후 학습
cols_with_missing= [col for col in X_train.columns if X_train[col].isnull().any()]

reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_valid = X_valid.drop(cols_with_missing, axis=1)

print("MAE from Approach 1(Drop columns with missing values):")
print(score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid))

MAE from Approach 1(Drop columns with missing values):
0.019964533333333336

In [36]:
#평균값을 채우는 방법으로 학습
from sklearn.impute import SimpleImputer

In [37]:
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns
                
print("MAE from Approach 2(Imputation):")
print(score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid))

MAE from Approach 2(Imputation):
0.019964533333333336

In [40]:
model = RandomForestRegressor(n_estimators=10,random_state=0)
model.fit(X_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [43]:
preds=model.predict(X_valid)

In [44]:
mean_absolute_error(y_valid,preds)

0.019964533333333336

In [52]:
test_data = pd.read_csv('test_ai.csv')

In [53]:
test_data

        X0  X1   X2     X3   X4   X5  target
0     1.00  -5  0.7    0.0  1.0 -0.5     0.0
1     0.75  -7  0.7   40.0  1.0 -0.5     0.0
2     1.00  -8  0.7   70.0  1.0 -1.0     0.0
3     0.60  -6  0.9   70.0  1.5 -2.0     0.0
4     1.00  -7  0.7   40.0  2.5 -1.5     0.0
...    ...  ..  ...    ...  ...  ...     ...
1495  1.00  -8  0.7  100.0  1.0 -0.5     0.0
1496  0.60  -6  1.0  100.0  2.5 -2.0     0.0
1497  1.00  -8  0.5   40.0  2.0  0.0     0.0
1498  0.75  -6  0.7    0.0  1.0 -0.5     0.0
1499  0.75  -5  0.9   10.0  2.0 -2.0     0.0

[1500 rows x 7 columns]

In [49]:
X_test = X_test.drop(['target'], axis=1)

In [50]:
preds=model.predict(X_test)

In [55]:
submission = pd.DataFrame({"target":preds})

In [58]:
submission = pd.concat([X_test,submission],axis=1)

In [57]:
X_test

        X0  X1   X2     X3   X4   X5
0     1.00  -5  0.7    0.0  1.0 -0.5
1     0.75  -7  0.7   40.0  1.0 -0.5
2     1.00  -8  0.7   70.0  1.0 -1.0
3     0.60  -6  0.9   70.0  1.5 -2.0
4     1.00  -7  0.7   40.0  2.5 -1.5
...    ...  ..  ...    ...  ...  ...
1495  1.00  -8  0.7  100.0  1.0 -0.5
1496  0.60  -6  1.0  100.0  2.5 -2.0
1497  1.00  -8  0.5   40.0  2.0  0.0
1498  0.75  -6  0.7    0.0  1.0 -0.5
1499  0.75  -5  0.9   10.0  2.0 -2.0

[1500 rows x 6 columns]

In [59]:
submission

        X0  X1   X2     X3   X4   X5   target
0     1.00  -5  0.7    0.0  1.0 -0.5  0.40723
1     0.75  -7  0.7   40.0  1.0 -0.5  0.57923
2     1.00  -8  0.7   70.0  1.0 -1.0  0.43631
3     0.60  -6  0.9   70.0  1.5 -2.0  0.72918
4     1.00  -7  0.7   40.0  2.5 -1.5  0.46917
...    ...  ..  ...    ...  ...  ...      ...
1495  1.00  -8  0.7  100.0  1.0 -0.5  0.43925
1496  0.60  -6  1.0  100.0  2.5 -2.0  0.75754
1497  1.00  -8  0.5   40.0  2.0  0.0  0.47009
1498  0.75  -6  0.7    0.0  1.0 -0.5  0.54325
1499  0.75  -5  0.9   10.0  2.0 -2.0  0.62445

[1500 rows x 7 columns]

In [60]:
submission.to_csv('./submission.csv', index=False)

In [38]:
#결측값 추적 및 imputer 사용
X_train_plus = X_train.copy()
X_valid_plus = X_valid.copy()

## cross-validation

In [72]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

my_pipeline = Pipeline(steps=[('preprocessor', SimpleImputer()),
                              ('model', RandomForestRegressor(n_estimators=50,
                                                              random_state=0))
                             ])

In [73]:
X

        X0  X1   X2     X3   X4   X5
0     0.60  -9  0.7    0.0  1.0 -2.0
1     0.75  -6  1.0  100.0  2.0 -2.0
2     0.60 -10  0.7   10.0  3.0 -2.0
3     0.50  -8  0.7   10.0  1.5 -1.5
4     0.75  -8  0.5    0.0  1.5 -0.5
...    ...  ..  ...    ...  ...  ...
1495  0.75  -9  0.7   40.0  2.5 -1.0
1496  1.00  -7  0.9  100.0  3.0 -1.5
1497  0.75 -10  0.5    0.0  3.0 -1.5
1498  0.75  -5  0.8   40.0  1.0 -1.0
1499  0.50  -5  0.9  100.0  2.0 -1.5

[1500 rows x 6 columns]

In [74]:
y

0       0.6441
1       0.6236
2       0.7069
3       0.7764
4       0.6493
         ...
1495    0.6014
1496    0.4483
1497    0.6757
1498    0.6114
1499    0.8338
Name: target, Length: 1500, dtype: float64

In [75]:
from sklearn.model_selection import cross_val_score

# Multiply by -1 since sklearn calculates *negative* MAE
scores = -1 * cross_val_score(my_pipeline, X, y,
                              cv=5,
                              scoring='neg_mean_absolute_error')

print("MAE scores:\n", scores)

MAE scores:
 [0.02138614 0.02002873 0.02009801 0.01959643 0.02016631]

In [76]:
print("Average MAE score (across experiments):")
print(scores.mean())

Average MAE score (across experiments):
0.020255122666666663

In [77]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y)

In [80]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.6.1-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 4.7 MB/s eta 0:00:01
Requirement already satisfied: scipy in /Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.6.2)
Requirement already satisfied: numpy in /Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages (from xgboost) (1.18.2)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.1

In [93]:
from xgboost import XGBRegressor

my_model = XGBRegressor()
my_model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [106]:
from sklearn.metrics import mean_absolute_error

predictions = my_model.predict(X_valid)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_valid)))

Mean Absolute Error: 0.014354477506891889

In [132]:
import lightgbm as lgb

OSError: dlopen(/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so, 0x0006): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib
  Referenced from: /Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so
  Reason: tried: '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/lib/libomp.dylib' (no such file), '/usr/lib/libomp.dylib' (no such file)

In [ ]:
!conda install lightgbm

Collecting package metadata (current_repodata.json): done
Solving environment: /
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/osx-64::pyerfa==1.7.3=py38h9ed2024_0
  - defaults/noarch::jupyterlab==3.0.14=pyhd3eb1b0_1
  - defaults/osx-64::pywavelets==1.1.1=py38haf1e3a3_2
  - defaults/noarch::python-language-server==0.36.2=pyhd3eb1b0_0
  - defaults/osx-64::bokeh==2.3.2=py38hecd8cb5_0
  - defaults/noarch::imageio==2.9.0=pyhd3eb1b0_0
  - defaults/osx-64::matplotlib==3.3.4=py38hecd8cb5_0
  - defaults/noarch::jsonschema==3.2.0=py_2
  - defaults/noarch::importlib_metadata==3.10.0=hd3eb1b0_0
  - defaults/noarch::pyls-spyder==0.3.2=pyhd3eb1b0_0
  - defaults/osx-64::bottleneck==1.3.2=py38hf1fa96c_1
  - defaults/osx-64::scikit-learn==0.24.1=py38hb2f4e1b_0
  - defaults/noarch::jupyterlab_server==2.4.0=pyhd3eb1b0_0
  - defaults/osx-64::mkl_fft==1.3.0=py38h4a7008c_2
  - defaults/noarch::nbclient==0.5.3=pyhd3eb1b0_0
  - defaults/noarch::conda-repo-cli==1.0.4=pyhd3eb1b0_0
  - defaults/osx-64::conda-package-handling==1.7.3=py38h9ed2024_1
  - defaults/noarch::nbclassic==0.2.6=pyhd3eb1b0_0
  - defaults/osx-64::numpy==1.20.1=py38hd6e1bb9_0
  - defaults/osx-64::patsy==0.5.1=py38_0
  - defaults/osx-64::_ipyw_jlab_nb_ext_conf==0.1.0=py38_0
  - defaults/osx-64::anaconda-client==1.7.2=py38_0
  - defaults/noarch::pyls-black==0.4.6=hd3eb1b0_0
  - defaults/osx-64::astropy==4.2.1=py38h9ed2024_1
  - defaults/osx-64::anaconda-navigator==2.1.0=py38hecd8cb5_0
  - defaults/osx-64::widgetsnbextension==3.5.1=py38_0
  - defaults/noarch::conda-verify==3.4.2=py_1
  - defaults/osx-64::tifffile==2020.10.1=py38h0cf3a3e_2
  - defaults/osx-64::anaconda==2021.05=py38_0
  - defaults/noarch::dask==2021.4.0=pyhd3eb1b0_0
  - defaults/osx-64::notebook==6.3.0=py38hecd8cb5_0
  - defaults/osx-64::h5py==2.10.0=py38h3134771_0
  - defaults/osx-64::jupyter==1.0.0=py38_7
  - defaults/noarch::ipywidgets==7.6.3=pyhd3eb1b0_1
  - defaults/noarch::anaconda-project==0.9.1=pyhd3eb1b0_1
  - defaults/noarch::nbformat==5.1.3=pyhd3eb1b0_0
  - defaults/noarch::seaborn==0.11.1=pyhd3eb1b0_0
  - defaults/osx-64::bkcharts==0.2=py38_0
  - defaults/osx-64::spyder==4.2.5=py38hecd8cb5_0
  - defaults/osx-64::nbconvert==6.0.7=py38_0
  - defaults/osx-64::conda-build==3.21.4=py38hecd8cb5_0
  - defaults/osx-64::scipy==1.6.2=py38hd5f7400_1
  - defaults/noarch::flake8==3.9.0=pyhd3eb1b0_0
  - defaults/osx-64::mkl_random==1.2.1=py38hb2f4e1b_2
  - defaults/noarch::conda-token==0.3.0=pyhd3eb1b0_0
  - defaults/osx-64::conda==4.10.3=py38hecd8cb5_0
  - defaults/osx-64::jupyter_server==1.4.1=py38hecd8cb5_0
  - defaults/osx-64::statsmodels==0.12.2=py38h9ed2024_0
  - defaults/osx-64::pytables==3.6.1=py38h4727e94_0
  - defaults/osx-64::numexpr==2.7.3=py38h5873af2_1
failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: |
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/osx-64::pyerfa==1.7.3=py38h9ed2024_0
  - defaults/noarch::jupyterlab==3.0.14=pyhd3eb1b0_1
  - defaults/osx-64::pywavelets==1.1.1=py38haf1e3a3_2
  - defaults/noarch::python-language-server==0.36.2=pyhd3eb1b0_0
  - defaults/osx-64::bokeh==2.3.2=py38hecd8cb5_0
  - defaults/noarch::imageio==2.9.0=pyhd3eb1b0_0
  - defaults/osx-64::matplotlib==3.3.4=py38hecd8cb5_0
  - defaults/noarch::jsonschema==3.2.0=py_2
  - defaults/noarch::importlib_metadata==3.10.0=hd3eb1b0_0
  - defaults/noarch::pyls-spyder==0.3.2=pyhd3eb1b0_0
  - defaults/osx-64::bottleneck==1.3.2=py38hf1fa96c_1
  - defaults/osx-64::scikit-learn==0.24.1=py38hb2f4e1b_0
  - defaults/noarch::jupyterlab_server==2.4.0=pyhd3eb1b0_0
  - defaults/osx-64::mkl_fft==1.3.0=py38h4a7008c_2
  - defaults/noarch::nbclient==0.5.3=pyhd3eb1b0_0
  - defaults/noarch::conda-repo-cli==1.0.4=pyhd3eb1b0_0
  - defaults/osx-64::conda-package-handling==1.7.3=py38h9ed2024_1
  - defaults/noarch::nbclassic==0.2.6=pyhd3eb1b0_0
  - defaults/osx-64::numpy==1.20.1=py38hd6e1bb9_0
  - defaults/osx-64::patsy==0.5.1=py38_0
  - defaults/osx-64::_ipyw_jlab_nb_ext_conf==0.1.0=py38_0
  - defaults/osx-64::anaconda-client==1.7.2=py38_0
  - defaults/noarch::pyls-black==0.4.6=hd3eb1b0_0
  - defaults/osx-64::astropy==4.2.1=py38h9ed2024_1
  - defaults/osx-64::anaconda-navigator==2.1.0=py38hecd8cb5_0
  - defaults/osx-64::widgetsnbextension==3.5.1=py38_0
  - defaults/noarch::conda-verify==3.4.2=py_1
  - defaults/osx-64::tifffile==2020.10.1=py38h0cf3a3e_2
  - defaults/osx-64::anaconda==2021.05=py38_0
  - defaults/noarch::dask==2021.4.0=pyhd3eb1b0_0
  - defaults/osx-64::notebook==6.3.0=py38hecd8cb5_0
  - defaults/osx-64::h5py==2.10.0=py38h3134771_0
  - defaults/osx-64::jupyter==1.0.0=py38_7
  - defaults/noarch::ipywidgets==7.6.3=pyhd3eb1b0_1
  - defaults/noarch::anaconda-project==0.9.1=pyhd3eb1b0_1
  - defaults/noarch::nbformat==5.1.3=pyhd3eb1b0_0
  - defaults/noarch::seaborn==0.11.1=pyhd3eb1b0_0
  - defaults/osx-64::bkcharts==0.2=py38_0
  - defaults/osx-64::spyder==4.2.5=py38hecd8cb5_0
  - defaults/osx-64::nbconvert==6.0.7=py38_0
  - defaults/osx-64::conda-build==3.21.4=py38hecd8cb5_0
  - defaults/osx-64::scipy==1.6.2=py38hd5f7400_1
  - defaults/noarch::flake8==3.9.0=pyhd3eb1b0_0
  - defaults/osx-64::mkl_random==1.2.1=py38hb2f4e1b_2
  - defaults/noarch::conda-token==0.3.0=pyhd3eb1b0_0
  - defaults/osx-64::conda==4.10.3=py38hecd8cb5_0
  - defaults/osx-64::jupyter_server==1.4.1=py38hecd8cb5_0
  - defaults/osx-64::statsmodels==0.12.2=py38h9ed2024_0
  - defaults/osx-64::pytables==3.6.1=py38h4727e94_0
  - defaults/osx-64::numexpr==2.7.3=py38h5873af2_1
done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.3
  latest version: 4.13.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /Users/wonhyejin/opt/anaconda3

  added / updated specs:
    - lightgbm


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    _anaconda_depends-2020.07  |           py38_0           6 KB
    anaconda-custom            |           py38_1          35 KB
    ca-certificates-2022.4.26  |       hecd8cb5_0         124 KB
    certifi-2022.6.15          |   py38hecd8cb5_0         154 KB
    libllvm9-9.0.1             |       h21ff451_1        15.4 MB
    lightgbm-3.1.1             |   py38h23ab428_0         867 KB
    nltk-3.6.3                 |     pyhd3eb1b0_0         991 KB
    openssl-1.1.1o             |       hca72f7f_0         2.2 MB
    pandas-1.3.3               |   py38h5008ddb_0         9.1 MB
    pathtools-0.1.2            |     pyhd3eb1b0_1           9 KB
    snappy-1.1.8               |       hb1e8313_0          54 KB
    tqdm-4.64.0                |   py38hecd8cb5_0         126 KB
    ------------------------------------------------------------
                                           Total:        29.0 MB

The following NEW packages will be INSTALLED:

  _anaconda_depends  pkgs/main/osx-64::_anaconda_depends-2020.07-py38_0
  importlib-metadata pkgs/main/osx-64::importlib-metadata-3.10.0-py38hecd8cb5_0
  libllvm9           pkgs/main/osx-64::libllvm9-9.0.1-h21ff451_1
  lightgbm           pkgs/main/osx-64::lightgbm-3.1.1-py38h23ab428_0
  llvmlite           pkgs/main/osx-64::llvmlite-0.36.0-py38he4411ff_4
  matplotlib-base    pkgs/main/osx-64::matplotlib-base-3.3.4-py38h8b3ea08_0
  nltk               pkgs/main/noarch::nltk-3.6.3-pyhd3eb1b0_0
  numba              pkgs/main/osx-64::numba-0.53.1-py38hb2f4e1b_0
  numpy-base         pkgs/main/osx-64::numpy-base-1.20.1-py38h585ceec_0
  pandas             pkgs/main/osx-64::pandas-1.3.3-py38h5008ddb_0
  pathtools          pkgs/main/noarch::pathtools-0.1.2-pyhd3eb1b0_1
  scikit-image       pkgs/main/osx-64::scikit-image-0.18.1-py38hb2f4e1b_0
  snappy             pkgs/main/osx-64::snappy-1.1.8-hb1e8313_0
  tqdm               pkgs/main/osx-64::tqdm-4.64.0-py38hecd8cb5_0

The following packages will be UPDATED:

  ca-certificates                      2021.4.13-hecd8cb5_1 --> 2022.4.26-hecd8cb5_0
  certifi                          2020.12.5-py38hecd8cb5_0 --> 2022.6.15-py38hecd8cb5_0
  openssl                                 1.1.1k-h9ed2024_0 --> 1.1.1o-hca72f7f_0

The following packages will be DOWNGRADED:

  anaconda                                   2021.05-py38_0 --> custom-py38_1


Proceed ([y]/n)?

In [118]:
from sklearn.model_selection import KFold
import lightgbm as lgb

ModuleNotFoundError: No module named 'lightgbm'

In [119]:
!pip install lightgbm

Collecting lightgbm
  Downloading lightgbm-3.3.2-py3-none-macosx_10_14_x86_64.macosx_10_15_x86_64.macosx_11_0_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 8.9 MB/s eta 0:00:01
Requirement already satisfied: scipy in /Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages (from lightgbm) (1.6.2)
Requirement already satisfied: wheel in /Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages (from lightgbm) (0.36.2)
Requirement already satisfied: numpy in /Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages (from lightgbm) (1.18.2)
Requirement already satisfied: scikit-learn!=0.22.0 in /Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages (from lightgbm) (0.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn!=0.22.0->lightgbm) (1.0.1)
Installing collected packages: lightgbm
Successfully installed lightgbm-3.3.2

---

In [122]:
X.shape[0]

1500

In [125]:
X_test

        X0  X1   X2     X3   X4   X5
0     1.00  -5  0.7    0.0  1.0 -0.5
1     0.75  -7  0.7   40.0  1.0 -0.5
2     1.00  -8  0.7   70.0  1.0 -1.0
3     0.60  -6  0.9   70.0  1.5 -2.0
4     1.00  -7  0.7   40.0  2.5 -1.5
...    ...  ..  ...    ...  ...  ...
1495  1.00  -8  0.7  100.0  1.0 -0.5
1496  0.60  -6  1.0  100.0  2.5 -2.0
1497  1.00  -8  0.5   40.0  2.0  0.0
1498  0.75  -6  0.7    0.0  1.0 -0.5
1499  0.75  -5  0.9   10.0  2.0 -2.0

[1500 rows x 6 columns]

In [126]:
def train_and_evaluate_lgb(train, test, params):
    # Hyperparammeters (just basic)
    # Create out of folds array
    oof_predictions = np.zeros(train.shape[0])
    # Create test array to store predictions
    test_predictions = np.zeros(test.shape[0])
    # Create a KFold object
    kfold = KFold(n_splits = 5, random_state = 2021, shuffle = True)
    # Iterate through each fold
    for fold, (trn_ind, val_ind) in enumerate(kfold.split(train)):
        print(f'Training fold {fold + 1}')
        x_train, x_val = train.iloc[trn_ind], train.iloc[val_ind]
        y_train, y_val = y.iloc[trn_ind], y.iloc[val_ind]
        # Root mean squared percentage error weights
        train_weights = 1 / np.square(y_train)
        val_weights = 1 / np.square(y_val)
        train_dataset = lgb.Dataset(x_train, y_train, weight = train_weights)
        val_dataset = lgb.Dataset(x_val, y_val, weight = val_weights)
        model = lgb.train(params = params,
                          num_boost_round=1000,
                          train_set = train_dataset, 
                          valid_sets = [train_dataset, val_dataset], 
                          verbose_eval = 250,
                          early_stopping_rounds=50,
                          feval = feval_rmspe)
        # Add predictions to the out of folds array
        oof_predictions[val_ind] = model.predict(x_val[features])
        # Predict the test set
        test_predictions += model.predict(test[features]) / 5
    mae_score = mean_absolute_error(y, oof_predictions)
    print(f'Our out of folds RMSPE is {rmspe_score}')
    lgb.plot_importance(model,max_num_features=20)
    # Return test predictions
    return test_predictions

In [130]:
params0 = {
    'objective': 'regression',
    'boosting_type': 'gbdt',
    'max_depth': -1,
    'max_bin':100,
    'min_data_in_leaf':500,
    'learning_rate': 0.05,
    'subsample': 0.72,
    'subsample_freq': 4,
    'feature_fraction': 0.5,
    'lambda_l1': 0.5,
    'lambda_l2': 1.0,
    'categorical_column':[0],
    'seed':seed0,
    'feature_fraction_seed': seed0,
    'bagging_seed': seed0,
    'drop_seed': seed0,
    'data_random_seed': seed0,
    'n_jobs':-1,
    'verbose': -1}

In [128]:
seed0=2021

In [131]:
from sklearn.model_selection import KFold

In [ ]:
predictions_lgb= train_and_evaluate_lgb(train, test,params0)
test['target'] = predictions_lgb
test[['row_id', 'target']].to_csv('submission.csv',index = False)

In [117]:
X_train

        X0  X1   X2     X3   X4   X5
115   0.75 -10  0.7  100.0  1.5 -0.5
759   1.00  -8  0.7    0.0  2.0 -1.5
1261  0.75  -5  0.8   40.0  2.0 -1.0
97    0.75  -6  0.9   70.0  3.0 -1.5
760   1.00  -7  0.7  100.0  1.5 -0.5
...    ...  ..  ...    ...  ...  ...
605   1.00  -5  0.9   70.0  1.0 -1.0
1409  1.00 -10  0.5   40.0  2.5 -0.5
35    0.50  -8  0.8   70.0  3.0 -2.0
926   0.75 -10  0.5   40.0  3.0  0.0
335   0.75  -9  0.5    0.0  1.5 -1.5

[1125 rows x 6 columns]

In [105]:
my_model = XGBRegressor(n_estimators=500)
my_model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=500, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [97]:
my_model = XGBRegressor(n_estimators=500)
my_model.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_valid, y_valid)],
             verbose=False)

/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:793: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=500, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [100]:
my_model = XGBRegressor(n_estimators=1000, learning_rate=0.05)
my_model.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_valid, y_valid)], 
             verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.05, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=1000,
             n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
             reg_alpha=0, reg_lambda=1, ...)

In [103]:
my_model = XGBRegressor(n_estimators=1000, learning_rate=0.05, n_jobs=4)
my_model.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_valid, y_valid)], 
             verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.05, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=1000,
             n_jobs=4, num_parallel_tree=1, predictor='auto', random_state=0,
             reg_alpha=0, reg_lambda=1, ...)

In [108]:
X

        X0  X1   X2     X3   X4   X5
0     0.60  -9  0.7    0.0  1.0 -2.0
1     0.75  -6  1.0  100.0  2.0 -2.0
2     0.60 -10  0.7   10.0  3.0 -2.0
3     0.50  -8  0.7   10.0  1.5 -1.5
4     0.75  -8  0.5    0.0  1.5 -0.5
...    ...  ..  ...    ...  ...  ...
1495  0.75  -9  0.7   40.0  2.5 -1.0
1496  1.00  -7  0.9  100.0  3.0 -1.5
1497  0.75 -10  0.5    0.0  3.0 -1.5
1498  0.75  -5  0.8   40.0  1.0 -1.0
1499  0.50  -5  0.9  100.0  2.0 -1.5

[1500 rows x 6 columns]

In [109]:
y

0       0.6441
1       0.6236
2       0.7069
3       0.7764
4       0.6493
         ...
1495    0.6014
1496    0.4483
1497    0.6757
1498    0.6114
1499    0.8338
Name: target, Length: 1500, dtype: float64

In [116]:
X

        X0  X1   X2     X3   X4   X5
0     0.60  -9  0.7    0.0  1.0 -2.0
1     0.75  -6  1.0  100.0  2.0 -2.0
2     0.60 -10  0.7   10.0  3.0 -2.0
3     0.50  -8  0.7   10.0  1.5 -1.5
4     0.75  -8  0.5    0.0  1.5 -0.5
...    ...  ..  ...    ...  ...  ...
1495  0.75  -9  0.7   40.0  2.5 -1.0
1496  1.00  -7  0.9  100.0  3.0 -1.5
1497  0.75 -10  0.5    0.0  3.0 -1.5
1498  0.75  -5  0.8   40.0  1.0 -1.0
1499  0.50  -5  0.9  100.0  2.0 -1.5

[1500 rows x 6 columns]

In [115]:
from sklearn.linear_model import LogisticRegression
#from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

# Since there is no preprocessing, we gdon't need a pipeline (used anyway as best practice!)
my_pipeline = LogisticRegression()
cv_scores = cross_val_score(my_pipeline, X, y, 
                            cv=3,
                            scoring='accuracy')

#print("Cross-validation accuracy: %f" % cv_scores.mean())

/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:610: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 593, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1347, in fit
    check_classification_targets(y)
  File "/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/multiclass.py", line 183, in check_classification_targets
    raise ValueError("Unknown label type: %r" % y_type)
ValueError: Unknown label type: 'continuous'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:610: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 593, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1347, in fit
    check_classification_targets(y)
  File "/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/multiclass.py", line 183, in check_classification_targets
    raise ValueError("Unknown label type: %r" % y_type)
ValueError: Unknown label type: 'continuous'

  warnings.warn("Estimator fit failed. The score on this train-test"
/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:610: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
Traceback (most recent call last):
  File "/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/model_selection/_validation.py", line 593, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py", line 1347, in fit
    check_classification_targets(y)
  File "/Users/wonhyejin/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/multiclass.py", line 183, in check_classification_targets
    raise ValueError("Unknown label type: %r" % y_type)
ValueError: Unknown label type: 'continuous'

  warnings.warn("Estimator fit failed. The score on this train-test"