In [3]:
#함수 사이에 인수 주고받기
#1부터 n까지의 정수의 합 구하기
def sum_1ton(n:int):
    """1부터 n까지 정수의 합"""
    
    s = 0
    while n >0:
        s += n
        n -=1
        
    return s

x = int(input('x의 값을 입력하세요.: '))
print(f'1부터{x}까지 정수의 합은 {sum_1ton(x)} 입니다.')

x의 값을 입력하세요.: 40
1부터40까지 정수의 합은 820 입니다.

In [4]:
#리스트에서 임의의 원솟값을 업데이트하기

def change(lst,idx,val):
    """lst[idx]의 값을 val로 업데이트"""
    
    lst[idx] = val
    
x = [11,22,33,44,55]

print('x=',x)

index = int(input('업데이트할 인덱스를 선택하세요.: '))
value = int(input('새로운 값을 입력하세요.: '))

change(x,index,value)
print(f'x={x}')

x= [11, 22, 33, 44, 55]
업데이트할 인덱스를 선택하세요.: 3
새로운 값을 입력하세요.: 4
x=[11, 22, 33, 4, 55]

In [6]:
#1000이하의 소수를 나열하기

counter = 0

for n in range(2,1001):
    for i in range(2,n):
        counter =+1
        if n % i == 0:
            break
    else:
        print(n)
            
print(f'나눗셈을 한 횟수는 {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 한 횟수는 1

In [14]:
for i in range(2,4):
    print(i)

2
3

In [11]:
i

2