## 22.5 리스트 표현식 사용하기
리스트 안에 for 반복문과 if 조건문을 사용할수 있다
이렇게 리스트 안에 식, for 반복문, if 조건문 등을 지정하여 리스트를 생성하는것을 리스트 컴프리헨션 (list comprehension)이라고 한다  
- [식 for 변수 in 리스트]
- list(식 for 변수 in 리스트)

In [1]:
a = [i for i in range(10)]# 0부터 9까지 숫자를 생성하여 리스트 생성

In [2]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
b =list(i for i in range(10))# 0부터 9까지 숫자를 생성하여 리스트 생성

In [4]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
c = [i+5 for i in range(10)]

In [6]:
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [7]:
d = [i * 2 for i in range(10)]

In [8]:
d

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## 22.5.1 리스트 표현식에서 if 조건문 사용하기
- [식 for 변수 in 리스트 if 조건식]
- list(식 for 변수 in 리스트 if 조건식)

In [9]:
a =[i for i in range(10) if i%2 ==0]

In [10]:
a# 0~9 숫자 중 2의 배수인 숫자(짝수)로 리스트 생성

[0, 2, 4, 6, 8]

In [11]:
b = [i+5 for i in range(10) if i%2 ==1]

In [12]:
b#홀수에 5를 더하여 리스트 생성

[6, 8, 10, 12, 14]

## 22.5.2 for 반복문과 if 조건문을 여러번 사용하기
```python
[식 for 변수1 in 리스트1 if 조건식1     for 변수2 in 리스트2 if 조건식2     ...     for 변수n in 리스트n if 조건식n]
 
list(식 for 변수1 in 리스트1 if 조건식1         for 변수2 in 리스트2 if 조건식2         ...         for 변수n in 리스트n if 조건식n)
```

In [13]:
#2단부터 9단까지 구구단 생성
a = [i * j for j in range(2,10) for i in range(1,10)]

In [14]:
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [15]:
a = [i * j for j in range(2, 10)
           for i in range(1, 10)]

In [16]:
a

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [18]:
j= [j for j in range(2, 10)]

In [19]:
j

[2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
i= [i for i in range(1, 10)]

In [21]:
i

[1, 2, 3, 4, 5, 6, 7, 8, 9]

리스트 표현식에 for 가 여러개일 때 처리 순서는 뒤에서 앞으로 순

## 22.6 리스트에 map 사용하기
map 은 리스트의 요소를 지정된 함수로 처리해주는 함수
(map은 원본 리스트를 변경하지 않고 새 리스트를 생성)

In [23]:
a = [1.2,2.5,3.7,4.6]
for i in range(len(a)):
    a[i] =int(a[i])

In [24]:
a

[1, 2, 3, 4]

In [25]:
a = [1.2,2.5,3.7,4.6]
a = list(map(int,a))

In [26]:
a

[1, 2, 3, 4]

![](https://dojang.io/pluginfile.php/13699/mod_page/content/3/022019.png)

map에는 리스트뿐만 아니라 모든 반복 가능한 객체를 넣을 수 있다

In [27]:
a =list(map(str,range(10)))

In [29]:
a #문자열로 변환

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

## 22.6.1 input().split()과 map

In [30]:
a=input().split()

10 20

In [31]:
a

['10', '20']

In [34]:
a = map(int,input().split())

10 20

In [35]:
a

In [38]:
list(a)

[10, 20]

다시 10 20을 입력하면 맵 객체(map object)가 만들어집니다. 이 상태로는 안에 들어있는 값을 볼 수 없으므로 list를 사용해서 리스트로 출력했습니다. 리스트를 보면 [10, 20]처럼 정수 두 개가 들어있습니다.

In [39]:
a,b=map(int,input().split())

10 20

In [40]:
a

10

In [41]:
b

20

In [42]:
x =input().split()# input().split()의 결과는 문자열 리스트
m =map(int,x)# 리스트의 요소를 int로 변환, 결과는 맵 객체
a,b=m# 맵 객체는 변수 여러 개에 저장할 수 있음

10 20

In [43]:
a

10

In [44]:
b

20

In [45]:
m

In [49]:
list(x)

['10', '20']

In [50]:
x

['10', '20']

## 22.7 튜플 응용하기
튜플은 리스트와는 달리 내용을 변경할 수 없습니다(불변, immutable). 따라서 내용을 변경하는 append 같은 메서드는 사용할 수 없고, 요소의 정보를 구하는 메서드만 사용할 수 있습니다.

## 22.7.1 튜플에서 특정 값의 인덱스 구하기

In [51]:
a = (38,21,53,62,19,53)
a.index(53)#가장 처음 찾은 53의 인덱스를 구함

2

## 22.7.2 특정 값의 개수 구하기

In [52]:
a = (10,20,30,15,20,40)
a.count(20)

2

## 22.7.3 for 반복문으로 요소 출력하기

In [55]:
#리스트 동일
a = (38,21,53,62,19)
for i in a:
    print(i,end=' ')

38 21 53 62 19

## 22.7.4  튜플 표현식 사용하기
- tuple(식 for 변수 in 리스트 if 조건식)

In [57]:
a = tuple(i for i in range(10) if i % 2 == 0)

In [58]:
a

(0, 2, 4, 6, 8)

참고로 ( )(괄호) 안에 표현식을 넣으면 튜플이 아니라 제너레이터 표현식이 됩니다(제너레이터는 'Unit 40 제너레이터 사용하기'에서 설명하겠습니다).

In [59]:
(i for i in range(10) if i % 2 == 0)

## 22.7.5 tuple에 map 사용하기

In [60]:
#리스트와 동일
a = (1.2,2.5,3.7,4.6)
a = tuple(map(int,a))

In [61]:
a

(1, 2, 3, 4)

## 22.7.6 튜플에서 가장 작은 수, 가장 큰 수, 합계구하기

In [62]:
a = (38,21,53,62,19)
min(a)

19

In [63]:
max(a)

62

In [64]:
sum(a)

193

## 22.9 연습문제: 리스트에서 특정 요소만 뽑아내기

In [65]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [ i for i in a if len(i) == 5]
 
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

# 23. 2차원 리스트 사용하기 
## 23.1 2차원 리스트를 만들고 요소에 접근하기

- 리스트 = [[값, 값], [값, 값], [값, 값]]

In [66]:
a = [[10, 20], [30, 40], [50, 60]]

In [67]:
a

[[10, 20], [30, 40], [50, 60]]

## 23.1.1 2차원 리스트의 요소에 접근하기