# 9 문자열 사용하기

In [1]:
hello = 'Hello,word!'
hello

'Hello,word!'

In [2]:
hello = '안녕하세요'
hello

'안녕하세요'

In [3]:
hello='''Hello, Python!'''
hello

'Hello, Python!'

In [4]:
python="""python programming"""
python

'python programming'

## 9.1.1 여러 줄로 된 문자열 사용하기

In [5]:
hello='''hello,world!
안녕하세요.
python입니다.'''

In [6]:
hello

'hello,world!\n안녕하세요.\npython입니다.'

In [7]:
print(hello)

hello,world!
안녕하세요.
python입니다.

## 9.1.2 문자열 안에 작은따옴표나 큰따옴표  포함하기

In [8]:
s = "Python isn't difficult"
s

"Python isn't difficult"

In [9]:
s = 'He said "Python is easy"'
s

'He said "Python is easy"'

In [11]:
single_quote='''"안녕하세요."
'파이썬'입니다'''

In [12]:
print(single_quote)

"안녕하세요."
'파이썬'입니다

In [13]:
#문자열에 따옴표를 포함하는 다른 방법
'Python isn\'t difficult'

"Python isn't difficult"

문자열 안에 특수 문자를 포함하기 위해 앞에 \ 를 붙이는 방법을 이스케이프(escape)라고 부른다

In [14]:
print('Hello\nPython')

Hello
Python

In [15]:
'''hello
python'''

'hello\npython'

.py 파일을 UTF-8 로 저장

# 10 리스트와 튜플 사용하기
## 10.1 리스트 만들기
- 리스트 = [값,값,값]

In [16]:
a= [38, 21, 53, 62, 19]

In [17]:
a

[38, 21, 53, 62, 19]

## 10.1.1 리스트에 여러가지 자료형 저장하기

In [18]:
person = ['james',17,175.3,True]

In [19]:
person

['james', 17, 175.3, True]

## 10.1.2 빈 리스트 만들기
- 리스트 =[]
- 리스트 = list()

In [20]:
a = []
a

[]

In [21]:
b=list()
b

[]

## 10.1.3 range를 사용하여 리스트 만들기
- range(횟수)

In [22]:
range(10)

range(0, 10)

- 리스트 = list(range(횟수))

In [23]:
a = list(range(10))

In [24]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
b= list(range(5,12))

In [26]:
b

[5, 6, 7, 8, 9, 10, 11]

- 리스트 = list(range(시작,끝,증가폭))

In [27]:
c = list(range(-4,10,2))

In [28]:
c

[-4, -2, 0, 2, 4, 6, 8]

In [29]:
d =list(range(10,0,-1))

In [30]:
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플 사용하기
튜플은 리스트처럼 요소를 일렬로 저장하지만, 안에 저장된 요소를 변경,추가,삭제를 할 수 없다
간단하게 읽기 전용 리스트

In [32]:
a=(38,21,53,62,19)

In [33]:
a

(38, 21, 53, 62, 19)

In [34]:
a=38,21,53,62,19

In [35]:
a

(38, 21, 53, 62, 19)

In [36]:
person=('james',17,175.3,True)
person

('james', 17, 175.3, True)

요소를 유지시켜야 할 때는 튜플 , 요소를 자주 변경해야 할 때는 리스트 사용

## 10.2.1 요소가 한 개 들어있는 튜플 만들기
함수(클래스)를 사용하다 보면 값이 아닌 튜플을 넣어야 할 경우가 생긴다. 이때 값은 한 개지만 튜플을 넣어야 할 때 (값,)과 같은 형식을 사용해야 한다.

In [37]:
(38)

38

In [38]:
(38,)

(38,)

In [39]:
38,

(38,)

## 10.2.2 range 를 사용하여 튜플 만들기

- 튜플 = tuple(range(10))

In [40]:
a=tuple(range(10))

In [41]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [43]:
b=tuple(range(-4,10,2))
b

(-4, -2, 0, 2, 4, 6, 8)

In [44]:
c=tuple(range(5,12))

In [45]:
c

(5, 6, 7, 8, 9, 10, 11)

## 10.2.3 튜플을 리스트로 만들고 리스트를 튜플로 만들기

In [46]:
a=[1,2,3]

In [47]:
a

[1, 2, 3]

In [48]:
tuple(a)

(1, 2, 3)

In [49]:
b=(4,5,6)
list(b)

[4, 5, 6]

In [50]:
#list 와 tuple 안에 문자열을 넣으면?
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [51]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [52]:
#리스트와 튜플로 변수 만들기
a,b,c=[1,2,3]

In [53]:
print(a,b,c)

1 2 3

In [54]:
d,e,f=(4,5,6)
print(d,e,f)

4 5 6

In [55]:
d

4

In [56]:
#list unpacking 
x=[1,2,3]
a,b,c=x
print(a,b,c)

1 2 3

In [57]:
a

1

In [58]:
b

2

In [59]:
c

3

In [60]:
y=(4,5,6)
d,e,f=y
print(d,e,f)

4 5 6

In [61]:
input().split()

10 20

['10', '20']

In [62]:
x=input().split()

10 20

In [63]:
a,b=x

In [64]:
print(a,b)

10 20

In [65]:
a

'10'

In [68]:
a=[1,2,3]#리스트 패킹
b=(1,2,3)#튜플 패킹
c=1,2,3#튜플 패킹

In [69]:
a

[1, 2, 3]

In [70]:
c

(1, 2, 3)

## 10.4 연습문제:range로 리스트 만들기

In [73]:
a=list(range(5,-10,-2))

In [74]:
a

[5, 3, 1, -1, -3, -5, -7, -9]

# 11 시퀀스 자료형 활용하기

시퀀스 자료형 : 리스트 튜플 range 문자열 처럼 값이 연속적으로 이어진 자료형은 시퀀스 자료형 이라고 부른다 (+bytes,bytearray)  
## 11.1 시퀀스 자료형의 공통 기능 사용하기
시퀀스 자료형으로 만든 객체를 시퀀스 객체라고 하며, 시퀀스 객체에 들어있는 각 값을 요소(element)라고 부른다

## 11.1.1 특정 값이 있는지 확인하기
- 값 in 시퀀스 객체

In [75]:
a = [0,10,20,30,40,50,60,70,80,90,]
30 in a

True

In [76]:
100 in a

False

- 값 not in 시퀀스 객체

In [77]:
100 not in a

True

In [78]:
30 not in a

False

In [79]:
43 in (38,76,43,62,19)

True

In [80]:
1 in range(10)

True

In [81]:
'P' in 'Hello,Python'

True

## 11.1.2 시퀀스 객체 연결하기

In [82]:
a=[0,10,20,30]
b=[9,8,7,6]
a+b

[0, 10, 20, 30, 9, 8, 7, 6]

단 시퀀스 자료형 중에서 range 는 + 연산자로 객체를 연결할 수 없다

In [83]:
range(0,10) + range(10,20)

TypeError: unsupported operand type(s) for +: 'range' and 'range'

이때는 range 를 리스트 또는 튜플로 만들어서 연결하면 된다

In [84]:
list(range(0,10))+list(range(10,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [85]:
tuple(range(0,10))+tuple(range(10,20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

문자열은 + 연산자로 여러 문자열을 연결할 수 있다

In [86]:
'Hello,'+'world!'

'Hello,world!'

In [87]:
#문자열에 숫자 연결하기
'Hello'+10

TypeError: must be str, not int

In [89]:
'Hello,'+str(10) #str 을 사용하여 정수를 문자열로 변환

'Hello,10'

In [90]:
'Hello,'+str(1.5) #str 을 사용하여 실수를 문자열로 변환

'Hello,1.5'

## 11.1.3 시퀀스 객체 반복하기
- 시퀀스 객체 * 정수
- 정수 * 시퀀스 객체

In [92]:
[0,10,20,30]*3#3번 반복

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [93]:
#range 는 리스트나 튜플로 만들어서 반복
list(range(0,5,2))*3

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [94]:
tuple(range(0,5,2))*3

(0, 2, 4, 0, 2, 4, 0, 2, 4)

In [95]:
'Hello,'*3

'Hello,Hello,Hello,'

## 11.2 시퀀스 객체의 요소 개수 
- len (시퀀스 객체)

## 11.2.1 리스트와 튜플의 요소 개수 구하기

In [96]:
a=[0,10,20,30,40,50,60,70,80,90]
len(a)

10

In [97]:
b=(38,76,43,62,19)
len(b)

5

## 11.2.2 range의 숫자 생성 개수 구하기
range 에 len 함수를 사용하면 숫자가 생성되는 개수를 구한다

In [100]:
len(range(0,10,2))

5

## 11.2.3 문자열의 길이 구하기

In [101]:
hello='Hello,world!'

In [102]:
len(hello)

12

In [103]:
hello='안녕하세요'

In [104]:
len(hello)

5

## 11.3 인덱스 사용하기

In [105]:
a=[38,21,53,62,19]
a[0]

38

In [106]:
a[2]

53

In [107]:
a[4]

19

In [108]:
b=(38,21,53,62,19)

In [109]:
b[0]

38

In [110]:
r=range(0,10,2)
r[2]

4

In [112]:
hello='Hello, world!'
hello[7]

'w'

In [113]:
#__getitem__ 메서드
a.__getitem__(1)

21

## 11.3.1 음수 인덱스 지정하기

In [114]:
a = [38,21,53,62,19]
a[-1]#리스트의 뒤에서 첫번째

19

In [115]:
a[-5]#리스트의 뒤에서 다섯번째

38

In [117]:
b=(38,21,53,62,19)
b[-1]

19

In [118]:
r=range(0,10,2)
r[-3]

4

In [119]:
hello='Hello, world!'
hello[-4]

'r'

## 11.3.2 인덱스의 범위를 벗어나면?

In [120]:
a = [38,21,53,62,19]
a[5]

IndexError: list index out of range

## 11.3.3 마지막 요소에 접근하기

In [121]:
a = [38,21,53,62,19]
len(a)

5

In [123]:
a[4]

19

In [124]:
a[len(a)]

IndexError: list index out of range

In [125]:
a[len(a)-1]#시퀀스 객체의 마지막 인덱스를 구할 때 종종 사용하는 방법

19

## 11.3.4 요소에 값 할당하기
- 시퀀스 객체[인덱스] = 값

In [126]:
a= [0,0,0,0,0]
a[0]=38
a[1]=21
a[2]=53
a[3]=62
a[4]=19
a

[38, 21, 53, 62, 19]

In [127]:
a[0]

38

In [128]:
a[4]

19

In [130]:
a[5]=90

IndexError: list assignment index out of range

In [131]:
#튜플은 요소를 변경할 수 없다
b=(0,0,0,0,0)
b[0]=38

TypeError: 'tuple' object does not support item assignment

In [132]:
#range와 문자열도 안에 저장된 요소를 변경할 수 없다
r=range(0,10,2)
r[0]=3

TypeError: 'range' object does not support item assignment

## 11.3.5 del로 요소 삭제하기
- del 시퀀스객체[인덱스]

In [133]:
a = [38,21,53,62,19]
del a[2]
a

[38, 21, 62, 19]

In [134]:
b = (38,21,53,62,19)
del b[2]

TypeError: 'tuple' object doesn't support item deletion

In [135]:
r=range(0,10,2)
del r[2]

TypeError: 'range' object doesn't support item deletion

## 11.4 슬라이스 사용하기
- 시퀀스객체[시작인덱스:끝인덱스]

In [136]:
a=[0,10,20,30,40,50,60,70,80,90]
a[0:4]#끝 인덱스는 실제로 가져오려는 인덱스보가 1을 더 크게 지정해야 한다

[0, 10, 20, 30]

In [137]:
a[0:10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [138]:
a[1:1]

[]

In [140]:
a[1:2]

[10]

슬라이스를 했을 때 실제로 가져오는 요소는 시작인덱스부터 끝 인덱스 -1 까지

## 11.4.1 리스트의 중간 부분 가져오기

In [141]:
a = [0,10,20,30,40,50,60,70,80,90]
a[4:7]

[40, 50, 60]

In [143]:
a[4:-1]#-1은 뒤에서 첫 번째 요소를 뜻한다 끝 인덱스는 가져오려는 인덱스보다 1을 더 크게 지정 따라서 -2 인덱스 인 80까지 가져옴

[40, 50, 60, 70, 80]

## 11.4.2 인덱스 증가폭 사용하기

In [144]:
a = [0,10,20,30,40,50,60,70,80,90]
a[2:8:3] #인덱스 2부터 3씩 증가시키면서 인덱스 7까지 가져옴

[20, 50]

시작 인덱스가 2 이므로 20부터 가져온다 그리고 인덱스 증가폭을 3으로 지정했으므로 인덱스 5의 50 인덱스 8의 80을 가져올수 있다.  
하지만 끝 인덱스를 8로 지정했으므로 인덱스 7까지만 가져온다

In [145]:
a[2:9:3]

[20, 50, 80]

## 11.4.3 인덱스 생략하기

In [146]:
a = [0,10,20,30,40,50,60,70,80,90]
a[:7]

[0, 10, 20, 30, 40, 50, 60]

In [147]:
a[7:]#인덱스 7부터 마지막 요소까지

[70, 80, 90]

In [148]:
a[:] #리스트 전체

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

## 11.4.4 인덱스를 생략하면서 증가폭 사용하기

In [149]:
a=[0,10,20,30,40,50,60,70,80,90]
a[:7:2]

[0, 20, 40, 60]

In [150]:
a[7::2]#인덱스 7부터 2씩 증가시키면서 리스트의 마지막 요소까지 가져옴

[70, 90]

In [151]:
a[::2]#리스트 전체에서 인덱스 0부터 2까지 증가시키면서 요소를 가져옴

[0, 20, 40, 60, 80]

In [153]:
a[::]#시작인덱스,끝 인덱스, 증가폭 생략

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [154]:
#슬라이스의 인덱스 증가폭을 음수로 지정하면
a=[0,10,20,30,40,50,60,70,80,90]
a[5:1:-1]

[50, 40, 30, 20]

In [155]:
a[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

## 11.4.5 len응용하기

In [156]:
a = [0,10,20,30,40,50,60,70,80,90]
a[0:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [157]:
a[:len(a)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

## 11.4.6 튜플 range 문자열에 슬라이스 사용하기
- 튜플[시작인덱스:끝인덱스]
- 튜플[시작인덱스:끝인덱스:인덱스증가폭]

In [158]:
b=(0,10,20,30,40,50,60,70,80,90)
b[4:7]

(40, 50, 60)

In [159]:
b[4:]

(40, 50, 60, 70, 80, 90)

In [160]:
b[:7:2]

(0, 20, 40, 60)

In [161]:
r = range(10)

In [162]:
r

range(0, 10)

In [163]:
r[4:7]

range(4, 7)

In [165]:
r[4:]

range(4, 10)

In [166]:
r[:7:2]

range(0, 7, 2)

In [167]:
list(r[:7:2])

[0, 2, 4, 6]

In [168]:
hello = 'hello, world!'
hello[2:9]

'llo, wo'

In [169]:
hello[2:]

'llo, world!'

In [170]:
hello[:9:2]

'hlo o'

In [171]:
#slice 객체 사용하기
range(10)[slice(4,7,2)]

range(4, 7, 2)

In [174]:
range(10).__getitem__(slice(4,7,2))

range(4, 7, 2)

In [175]:
s=slice(4,7)
a[s]

[40, 50, 60]

In [176]:
r

range(0, 10)

In [177]:
r[s]

range(4, 7)

In [178]:
hello[s]

'o, '

## 11.4.7 슬라이스에 요소 할당하기

In [179]:
a[2:5]=['a','b','c']#인덱스 2~4까지 요소 할당

In [180]:
a

[0, 10, 'a', 'b', 'c', 50, 60, 70, 80, 90]

In [181]:
a=[0,10,20,30,40,50,60,70,80,90]
a[2:5]=['a']

In [182]:
a

[0, 10, 'a', 50, 60, 70, 80, 90]

In [183]:
a=[0,10,20,30,40,50,60,70,80,90]
a[2:5]=['a','b','c','d','e']

In [184]:
a

[0, 10, 'a', 'b', 'c', 'd', 'e', 50, 60, 70, 80, 90]

In [185]:
a=[0,10,20,30,40,50,60,70,80,90]
a[2:8:2]=['a','b','c']

In [186]:
a

[0, 10, 'a', 30, 'b', 50, 'c', 70, 80, 90]

In [187]:
#증가폭을 지정했을 때는 슬라이스 범위의 요소 개수와 할당할 요소 개수가 정확히 일치해야한다.
a=[0,10,20,30,40,50,60,70,80,90]
a[2:8:2]=['a','b']

ValueError: attempt to assign sequence of size 2 to extended slice of size 3

In [188]:
#튜플,range,문자열은 슬라이스 범위를 지정하더라도 요소를 할당할 수 없다
b=(0,10,20,30,40,50,60,70,80,90)
b[2:5]=('a','b','c')

TypeError: 'tuple' object does not support item assignment

## 11.4.8 del로 슬라이스 삭제하기

In [189]:
a = [0,10,20,30,40,50,60,70,80,90]
del a[2:5]

In [190]:
a

[0, 10, 50, 60, 70, 80, 90]

In [191]:
a = [0,10,20,30,40,50,60,70,80,90]
del a[2:8:2]
a

[0, 10, 30, 50, 70, 80, 90]

In [ ]:
#튜플 range 문자열은 del 로 슬라이스를 삭제할 수 없다