# 26.1 세트 사용하기  
파이썬은 집합을 표현하는 세트라는 자료형을 제공한다  세트는 합집합 교집합 차집합등의 연산이 가능  
## 26.1 세트 만들기
- 세트 = {값1, 값2, 값3}

In [1]:
fruits= {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [6]:
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [8]:
#중복될 수 없다
fruits = {'orange','orange','cherry'}
fruits

{'cherry', 'orange'}

In [9]:
#세트는 리스트,튜플,딕셔너리와는 달리 [ ] 로 특정 요소만 출력할 수는 없다
fruits= {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [10]:
print(fruits[0])

TypeError: 'set' object is not subscriptable

In [11]:
fruits['grape']

TypeError: 'set' object is not subscriptable

## 26.1.1 세트에 특정 값이 있는지 확인하기
- 값 in 세트

In [12]:
fruits = {'strawberry','grape','orange','pineapple','cherry'}
'orange' in fruits

True

In [13]:
'peach' in fruits

False

- 값 not in 세트

In [14]:
'peach' not in fruits

True

In [15]:
'strawberry' not in fruits

False

## 26.1.2 set를 사용하여 세트를 만들기
- set(반복가능한 객체)

In [18]:
a = set('apple') #유일한 문자만 세트로 만듦

In [17]:
a

{'a', 'e', 'l', 'p'}

In [19]:
b = set(range(5))

In [20]:
b

{0, 1, 2, 3, 4}

In [24]:
#빈 세트 
c =set
c

set

- type(객체)

In [22]:
c = {}

In [25]:
type(c)

type

In [26]:
#한글 문자열을 세트로 만들기
set('안녕하세요')

{'녕', '세', '안', '요', '하'}

In [27]:
#세트 안에 세트 넣기 ->불가
a = {{1,2},{3,4}}

TypeError: unhashable type: 'set'

In [29]:
#프로즌 세트

#프로즌세트 = frozenset(반복가능한객체)

a = frozenset(range(10))
a

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [31]:
#프로즌 세트는 중첩이 가능 
frozenset({frozenset({1, 2}), frozenset({3, 4})})

frozenset({frozenset({3, 4}), frozenset({1, 2})})

## 26.2 집합 연산 사용하기
합집합
- 세트1 | 세트2
- set.union(세트1,세트2)

In [32]:
a = {1,2,3,4}
b = {3,4,5,6}
a | b

{1, 2, 3, 4, 5, 6}

In [33]:
set.union(a,b)

{1, 2, 3, 4, 5, 6}

교집합  
- a & b
- set.intersection(세트1,세트2)

In [34]:
a&b

{3, 4}

In [35]:
set.intersection(a,b)

{3, 4}

차집합  
- 세트1 - 세트2
- set.difference(a,b)

In [36]:
a-b

{1, 2}

In [37]:
set.difference(a,b)

{1, 2}

대칭차집합  
- 세트1 ^ 세트2
- set.symmetric_difference(세트1,세트2)

In [38]:
a^b

{1, 2, 5, 6}

In [39]:
set.symmetric_difference(a,b)

{1, 2, 5, 6}

## 26.2.1 집합 연산 후 할당 연산자 사용하기
- 세트1 |= 세트2
- 세트1.update(세트2)

In [40]:
a = {1, 2, 3, 4}

In [41]:
a |= {5}

In [42]:
a

{1, 2, 3, 4, 5}

In [43]:
a = {1, 2, 3, 4}

In [44]:
a.update({5})

In [45]:
a

{1, 2, 3, 4, 5}

&=  
- 세트1 &= 세트2
- 세트1.intersection_update(세트2)

In [46]:
a = {1,2,3,4}
a &= {0,1,2,3,4}

In [47]:
a

{1, 2, 3, 4}

In [48]:
a = {1, 2, 3, 4}

In [49]:
a.intersection_update({0,1,2,3,4})

In [50]:
a

{1, 2, 3, 4}

-=  
- 세트1 -= 세트2
- 세트1.difference_update(세트2)

In [51]:
a = {1,2,3,4}
a -= {3}

In [52]:
a

{1, 2, 4}

In [53]:
a = {1,2,3,4}

In [54]:
a.difference_update({3})

In [55]:
a

{1, 2, 4}

^=  
- 세트1 ^= 세트2
- 세트1.symmetric_difference_update(세트2)

In [56]:
a = {1,2,3,4}
a ^= {3,4,5,6}
a

{1, 2, 5, 6}

In [57]:
a.symmetric_difference_update({3,4,5,6})

In [58]:
a

{1, 2, 3, 4}

## 26.2.2 부분집합과 상위집합 확인하기
세트는 부분집합, 진부분집합, 상위집합, 진상위집합과 같이 속하는 관계를 표현할 수도 있습니다. 현재 세트가 다른 세트의 (진)부분집합 또는 (진)상위집합인지 확인할 때는 세트 자료형에 부등호와 등호 사용합니다.

<=은 현재 세트가 다른 세트의 부분집합(subset)인지 확인하며 issubset 메서드와 같습니다. 다음은 세트 {1, 2, 3, 4}가 {1, 2, 3, 4}의 부분집합이므로 참입니다(등호가 있으므로 두 세트가 같을 때도 참입니다).

- 현재세트 <= 다른세트
- 현재세트.issubset(다른세트)

In [59]:
a = {1,2,3,4}
a <= {1,2,3,4}

True

In [60]:
a.issubset({1, 2, 3, 4, 5})

True

In [61]:
#진부분집합
a= {1,2,3,4}
a < {1,2,3,4,5}

True

In [63]:
#상위집합
a = {1,2,3,4}
a >= {1,2,3,4}

True

In [64]:
a.issuperset({1, 2, 3, 4})

True

In [65]:
a= {1,2,3,4}
a>{1,2,3}

True

## 26.2.3 세트가 같은지 다른지 확인하기

In [66]:
a = {1,2,3,4}
a = {1,2,3,4}

In [67]:
a == {4,2,1,3}

True

In [69]:
a = {1,2,3,4}
a != {1,2,3}

True

## 26.2.4 세트가 겹치지 않는지 확인하기

In [70]:
a = {1,2,3,4}
a.isdisjoint({5,6,7,8})

True

In [71]:
a.isdisjoint({3,4,5,6})

False

## 26.3 세트 조작하기
## 26.3.1 세트에 요소 추가하기

In [73]:
a = {1,2,3,4}
a.add(5)

In [74]:
a

{1, 2, 3, 4, 5}

## 26.3.2 세트에서 특정 요소를 삭제하기

In [75]:
a.remove(3)

In [76]:
a

{1, 2, 4, 5}

In [77]:
a.discard(2)

In [78]:
a

{1, 4, 5}

In [81]:
a.discard(3)#특정 요소를 삭제하고 요소가 없으면 그냥 넘어감

In [80]:
a

{1, 4, 5}

## 26.3.3 세트에서 임의의 요소 삭제하기

In [82]:
a = {1,2,3,4}
a.pop()

1

In [83]:
a

{2, 3, 4}

## 26.3.3 세트에서 모든 요소 삭제하기

In [84]:
a.clear()

In [85]:
a

set()

## 26.3.5 세트의 요소 개수 구하기

In [86]:
a= {1,2,3,4}
len(a)

4

## 26.4 세트의 할당과 복사

In [87]:
a = {1,2,3,4}
b=a

In [88]:
a

{1, 2, 3, 4}

In [89]:
b

{1, 2, 3, 4}

In [90]:
a is b

True

In [91]:
b.add(5)

In [92]:
a

{1, 2, 3, 4, 5}

In [93]:
b

{1, 2, 3, 4, 5}

In [94]:
a ={1,2,3,4}
b = a.copy()

In [95]:
a is b

False

In [96]:
a == b

True

In [97]:
a = {1,2,3,4}
b =a.copy()
b.add(5)

In [98]:
a

{1, 2, 3, 4}

In [99]:
b

{1, 2, 3, 4, 5}

## 26.5 반복문으로 세트의 요소를 모두 출력하기

In [100]:
a = {1,2,3,4}

for i in a:
    print(i)

1
2
3
4

In [101]:
for i in {1,2,3,4}:
    print(i)

1
2
3
4

## 26.6 세트 표현식 사용하기
- {식 for 변수 in 반복가능한객체}
- set(식 for 변수 in 반복가능한객체)

In [102]:
a = {i for i in 'apple'}

In [103]:
a #중복된 문자 제거

{'a', 'e', 'l', 'p'}

## 26.6.1 세트 표현식에 if 조건문 사용하기
- {식 for 변수 in 세트 if 조건식}
- set(식 for 변수 in 세트 if 조건식)

In [104]:
a = {i for i in 'pineapple' if i not in 'apl'}

In [105]:
a #문자열 'pineapple'에서 'a,'p','l'을 제외한 문자들로 세트 생성

{'e', 'i', 'n'}

if i not in 'apl'은 {i for i in 'pineapple' if i != 'a' and i != 'p' and i != 'l'}과 같이 문자를 하나씩 비교하고 and로 연결하는 if 조건문과 같습니다.

## 26.8 연습문제: 공배수 구하기

In [107]:
a = {i for i in range(1,101) if i %3 ==0}
b ={i for i in range(1,101) if i %5 ==0}
print(a&b)

{75, 45, 15, 90, 60, 30}